<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <div class="card-body">
        <form novalidate (ngSubmit)="saveAdvert()" formGroup="advertForm">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="advertHeadlineTextId">Advert Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="advertHeadlineTextId" type="text" placeholder="Advert Name"
                        formControlName="advertHeadlineText" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="provinceId">Province</label>
                <div class="col-md-8">
                    <input class="form-control" id="provinceId" type="text" placeholder="Province"
                        formControlName="province" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="cityId">City</label>
                <div class="col-md-8">
                    <input class="form-control" id="cityId" type="text" placeholder="City"
                        formControlName="city" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="advertDetailsId">Advert Details</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="advertDetailsId" placeholder="Advert Details" rows=3
                        formControlName="advertDetails"></textarea>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="priceId">Price</label>
                <div class="col-md-8">
                    <input class="form-control" id="priceId" type="number" placeholder="Price"
                        formControlName="price" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">

                    <button class="btn btn-primary mr-3" style="width:80px;" type="submit"
                        [title]="advertForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                        [disabled]="!advertForm.valid">
                        Save
                    </button>
                    <button class="btn btn-outline-secondary mr-3" style="width:80px;" type="button"
                        title="Cancel your edits" routerLink="['/advert']">
                        Cancel
                    </button>

                    <button class="btn btn-primary mr-3" style="width:80px;" type="button" title="Delete this advert"
                        (click)="deleteAdvert()">
                        Delete
                    </button><br /><br />
                    <button class="btn btn-primary mr-3" style="width:80px;" type="submit" routerLink="['/advert']">
                        Back
                    </button>

                </div>
            </div>
        </form>
    </div>
    <!-- <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>  -->
</div>