<div class="card mt-4">
    <div class="text-center">
        <h4 class="card-header">My Advert</h4>
    </div>
    <div class="card-body">
        <p>Welcome {{currentUser.firstName}}!</p>
    </div>
    <!-- <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <div class="row" *ngIf='users && users.length'>
        <div class="col-md-" *ngFor='let user of users'>
            <p>{{user.firstName}} {{user.lastName}}</p>
        </div>
    </div> -->
    <!-- <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td> {{ user.firstName }}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
            </tr>
        </tbody>
    </table> -->
</div>