<!-- <div class="card mt-4">
    <h4 class="card-header">You're logged in with Angular 9 & JWT!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>
</div> -->
<div class="card mt-4">
    <h4 class="card-header text-center">WELCOME TO OUR PROPERTY LISTING</h4>
    <div class="card-body">
        <div class="col">
            <div class="input-group col-md">
                <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search..." >
                <span class="input-group-append">
                  <button class="btn btn-outline-primary  border-left-0 border" type="button">
                        <i class="fa fa-search"></i>
                  </button>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <br />
            </div>
        </div>
        
    </div>
</div>