<!-- Filter Search Section Begin -->
<div class="seachContainer">
    <div class="row">
        <div class="col-lg-12">
            <div class="filter-form">
                <div class="input-group col-md-5">
                    <input class="form-control py-2 " type="search" placeholder="Search..." [(ngModel)]="listAdvert">
                    <span class="input-group-append">
                        <button class="btn btn-outline-primary  border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>

                    <br />
                    <div class="input-group col-md-4">
                        <select id="sort-by" (change)="sort($event)">
                            <option value="" selected disabled hidden>Sort By</option>
                            <option value="Low">Low to High Price</option>
                            <option value="High">High to Low Price</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary mr-3" type="button" style="float: right;margin-right: 0%;"
                    (click)="onReset()">Reset Search</button>
                <div class="filter-form">
                    <div class="location">
                        <p>Province</p>
                        <select class="filter-location" [(ngModel)]="selectedProvince"
                            (change)="valueSelected($event.target.value)">
                            <option value="" selected hidden>Search By Province</option>
                            <option *ngFor="let prov of _allProvince">{{ prov.province}}</option>
                        </select>
                    </div>
                    <div class="search-type">
                        <p>City</p>
                        <select class="filter-location" [(ngModel)]="selectedCity" (change)="citySelected()">
                            <option value="" selected hidden>Search By City</option>
                            <option *ngFor="let City of _allCity"> {{City.city}}</option>
                        </select>
                    </div>
                    <div class="search-type">
                        <p>Price</p>
                        <select class="filter-property" (change)="searchByPrice($event)">
                            <option value="" selected disabled hidden>Search By Price</option>
                            <option value="10K">10K</option>
                            <option value="50K">50K</option>
                            <option value="100K">100K</option>
                            <option value="150K">150K</option>
                            <option value="200K">200K</option>
                            <option value="250K">250K</option>
                            <option value="300K">300K</option>
                            <option value="1M">1M</option>
                            <option value="50M">50M</option>
                            <option value="100M">100M</option>
                        </select>
                    </div>
                    <div class="bedrooms">
                        <p>Bedrooms</p>
                        <div class="room-filter-pagi">
                            <div class="bf-item">
                                <input type="radio" name="room" id="room-1">
                                <label for="room-1">1</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="room" id="room-2">
                                <label for="room-2">2</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="room" id="room-3">
                                <label for="room-3">3</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="room" id="room-4">
                                <label for="room-4">4+</label>
                            </div>
                        </div>
                    </div>
                    <div class="bathrooms">
                        <p>Bathrooms</p>
                        <div class="room-filter-pagi">
                            <div class="bf-item">
                                <input type="radio" name="bathroom" id="bathroom-1">
                                <label for="bathroom-1">1</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="bathroom" id="bathroom-2">
                                <label for="bathroom-2">2</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="bathroom" id="bathroom-3">
                                <label for="bathroom-3">3</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="bathroom" id="bathroom-4">
                                <label for="bathroom-4">4+</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="search-btn">
                    <button type="submit"><i class="flaticon-search"></i>Search</button>
                </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--List of advert-->
<section class="hotel-rooms">
    <div class="container">
        <div class="row" *ngIf='adverts && adverts.length'>
            <div class="col-lg-4 col-md-6" *ngFor='let advert of adverts|filter:listAdvert|paginate: config'>
                <div class="room-items">
                    <div class="room-img set-bg" data-setbg="assets/images/1.jpg">
                        <img src="assets/images/1.jpg" style="block-size: 100%;" alt="">
                        <a href="#" class="room-content">
                            <i class="flaticon-heart"></i>
                        </a>
                    </div>
                    <div class="room-text">
                        <div class="room-details">
                            <div class="room-title">
                                <h5 class="text-center"><a
                                        [routerLink]="['/viewAdvert', advert.id, 'view']">{{advert.advertHeadlineText}}</a>
                                </h5>
                                <a href="#"><i class="flaticon-placeholder"></i>
                                    <span>Province: {{advert.province}}</span></a>

                                <a href="#"><i class="flaticon-placeholder"></i>
                                    <span>City: {{advert.city}}</span></a>

                                <!-- <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>Show on
                            Map</span></a> -->
                            </div>
                        </div>
                        <div class="room-features">
                            <div class="room-info">
                                <div class="size">
                                    <p>Lot Size</p>
                                    <img src="assets/images/size.png" alt="">
                                    <i class="flaticon-bath"></i>
                                    <span>2561 sqft</span>
                                </div>
                                <div class="beds">
                                    <p>Beds</p>
                                    <img src="assets/images/bed.png" alt="">
                                    <span>9</span>
                                </div>
                                <div class="baths">
                                    <p>Baths</p>
                                    <img src="assets/images/bath.png" alt="">
                                    <span>2</span>
                                </div>
                                <div class="garage">
                                    <p>Garage</p>
                                    <img src="assets/images/garage.png" alt="">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                        <div class="room-price">
                            <p>For Sale</p>
                            <span>{{advert.price|currency:'R':'symbol':'1.2-2'}}</span>
                        </div>
                        <p>Posted On: {{advert.releaseDate}}</p>
                        <!-- <button class="btn btn-outline-primary btn-sm" style="float:right"
                        [routerLink] = "['/viewAdvert', advert.id, 'view']">
                        View
                    </button> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card-footer pb-0 pt-3">
            <jw-pagination [items]="adverts" (changePage)="onChangePage($event)"></jw-pagination>
        </div> -->
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</section>